workflows/sentinel-workflow.json
{
  "name": "sentinel-workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "log-ingest",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "c3020c77-b670-4500-8dd4-7332147c8343",
      "name": "Webhook",
      "webhookId": "a643cc01-5a4e-4deb-b915-1759fa9bf6e8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/analyze",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "service_name",
              "value": "={{ $json.body.service }}"
            },
            {
              "name": "error_type",
              "value": "={{ $json.body.error_type }}"
            },
            {
              "name": "error_message",
              "value": "={{ $json.body.error_message }}"
            },
            {
              "name": "stack_trace",
              "value": "={{ $json.body.stack_trace }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "283ea459-9174-4a15-9a5c-e8a0aa80406e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sendTo": "mindcare.ia.contact@gmail.com",
        "subject": "=🚨 [Sentinel] Incident Detected: {{ $('HTTP Request').item.json.source === 'ai_generated' ? 'New' : 'Recurring' }} {{ $('Webhook').item.json.body.error_type }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: auto; border: 1px solid #e0e0e0; border-radius: 8px; overflow: hidden;\">          <!-- Header -->     <div style=\"background-color: #D32F2F; color: white; padding: 20px; text-align: center;\">         <h2 style=\"margin: 0;\">⚠️ Critical Incident Report</h2>         <p style=\"margin: 5px 0 0;\">Service: {{ $('Webhook').item.json.body.service }}</p>     </div>      <!-- Body -->     <div style=\"padding: 20px;\">                  <!-- Error Details -->         <h3 style=\"color: #333;\">❌ Error Signature</h3>         <div style=\"background-color: #fff0f0; padding: 10px; border-left: 4px solid #D32F2F; margin-bottom: 20px;\">             <strong>Type:</strong> {{ $('Webhook').item.json.body.error_type }}<br>             <strong>Message:</strong>  {{ $('Webhook').item.json.body.error_message }}        </div>          <!-- AI Analysis -->         <h3 style=\"color: #1976D2;\">🤖 Sentinel AI Analysis</h3>         <p style=\"font-size: 14px; line-height: 1.5; color: #555;\">             {{ $('HTTP Request').item.json.fix_explanation }}         </p>          <!-- The Fix -->         <h3 style=\"color: #388E3C;\">🛠 Suggested Remediation</h3>         <div style=\"background-color: #1e1e1e; color: #d4d4d4; padding: 15px; border-radius: 5px; font-family: 'Courier New', monospace; font-size: 13px; overflow-x: auto;\">             <pre style=\"margin: 0;\">{{ $('HTTP Request').item.json.code_snippet }}</pre>         </div>          <!-- Footer -->         <div style=\"margin-top: 30px; font-size: 12px; color: #999; text-align: center; border-top: 1px solid #eee; padding-top: 10px;\">             Generated by Sentinel v1.0 • Source: {{ $('HTTP Request').item.json.source }} • <a href=\"#\">View Logs</a>         </div>     </div> </div>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        432,
        0
      ],
      "id": "f69d635a-d760-4f72-b3ff-9030443e1684",
      "name": "Send a message",
      "webhookId": "08ae7088-701d-49cb-a71c-857ecbb5a78b",
      "credentials": {
        "gmailOAuth2": {
          "id": "zMdAYSO3c15wlXZV",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A31QHQPMW",
          "mode": "list",
          "cachedResultName": "it-support-errors"
        },
        "text": "=Alert there is a bug in our code in {{ $('Webhook').item.json.body.service }}\nthe error is {{ $('Webhook').item.json.body.error_message }}\nit happend the {{ $('Webhook').item.json.body.timestamp }}\nexplanation: {{ $json.fix_explanation }}\ncode snippet suggestion :\n{{ $json.code_snippet }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        416,
        176
      ],
      "id": "83bade3e-0881-49e4-9e9c-844ff3de4bff",
      "name": "Send a message1",
      "webhookId": "0f33e8bf-4e26-4d4b-990d-ceea260d7295",
      "credentials": {
        "slackApi": {
          "id": "vL0hoqvr9GRRJuCB",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "host.docker.internal:5678",
            "user-agent": "python-requests/2.31.0",
            "accept-encoding": "gzip, deflate",
            "accept": "*/*",
            "connection": "keep-alive",
            "content-length": "615",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "service": "buggy-app-v1",
            "timestamp": "2025-12-08T12:35:04.985034",
            "error_type": "ConnectionError",
            "error_message": "Database Connection Refused: 5432 is unreachable",
            "stack_trace": "Traceback (most recent call last):\n  File \"/app/main.py\", line 73, in <module>\n    simulate_app_activity()\n  File \"/app/main.py\", line 45, in simulate_app_activity\n    selected_action()\n  File \"/app/main.py\", line 31, in cause_connection_error\n    raise ConnectionError(\"Database Connection Refused: 5432 is unreachable\")\nConnectionError: Database Connection Refused: 5432 is unreachable\n",
            "severity": "HIGH"
          },
          "webhookUrl": "http://localhost:5678/webhook-test/log-ingest",
          "executionMode": "test"
        }
      }
    ],
    "HTTP Request": [
      {
        "json": {
          "source": "ai_generated",
          "fix_explanation": "The ConnectionError indicates the application failed to establish a connection to the database on port 5432, likely due to the database being unreachable, down, or network issues. The provided fix implements a retry mechanism with exponential backoff to handle transient connection failures gracefully.",
          "code_snippet": "import time\nimport random\n\ndef cause_connection_error():\n    max_retries = 5\n    base_delay = 1 # seconds\n    \n    for attempt in range(max_retries):\n        try:\n            print(f\"Attempting database connection (attempt {attempt + 1}/{max_retries})...\")\n            \n            # --- Placeholder for actual database connection logic ---\n            # In a real application, this is where you'd call your database connector, e.g.:\n            # db_connection = connect_to_postgres_db(host=\"your_db_host\", port=5432, ...)\n            # If the connection fails, the underlying library would raise ConnectionError or a similar exception.\n\n            # For the purpose of simulating the original error from the log:\n            if attempt < max_retries - 1: # Simulate failure on early attempts\n                raise ConnectionError(\"Database Connection Refused: 5432 is unreachable\")\n            else: # Simulate success on the last attempt, or if only one attempt is made\n                print(\"Database connection successfully established (simulated).\")\n                return # Connection successful, exit the function\n            # --- End of placeholder ---\n\n        except ConnectionError as e:\n            print(f\"Database connection failed: {e}\")\n            if attempt < max_retries - 1:\n                delay = base_delay * (2 ** attempt) + random.uniform(0, 1) # Exponential backoff with jitter\n                print(f\"Retrying connection in {delay:.2f} seconds...\")\n                time.sleep(delay)\n            else:\n                print(f\"All {max_retries} retry attempts failed. Raising the ConnectionError.\")\n                raise # Re-raise the exception if all retries are exhausted"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4b870b93-a3af-415c-8968-6eb0973f3081",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a0750893502deb37f59d4053cd86b4e84dccf0600cdced3688fe73658b835934"
  },
  "id": "abLGb18T6YDMoILz",
  "tags": []
}